@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.h-screen {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.max-h-screen {
  max-height: 100vh;
  max-height: calc(var(--vh, 1vh) * 100);
}

body {
  color: #535862 !important;
  font-weight: 300;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .container {
    @apply w-full !max-w-[856px] mx-auto px-4 md:px-5 py-4 md:py-6 lg:py-20 pb-10;
  }

  th,
  td {
    @apply font-medium text-left px-2 py-3 md:py-4;
  }

  th:first-child,
  td:first-child {
    @apply pl-4 md:px-6;
  }

  td {
    @apply font-[300] py-4 md:py-6 max-[767.98px]:max-w-[120px] overflow-clip whitespace-nowrap text-ellipsis;
  }

  td:first-child {
    @apply font-medium;
  }

  tr {
    @apply border-b-[1.5px];
  }

  tr:last-child {
    @apply border-none;
  }

  td:first-child,
  td:nth-child(2) {
    @apply md:w-[260px] md:max-w-[260px];
  }

  td:last-child {
    @apply min-[768px]:max-w-[370px] lg:w-[392px] lg:max-w-[392px];
  }
}

textarea {
  resize: none;
}

button {
  outline: none;
  border: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none !important;
}

input {
  outline: none;
}

.Toastify__toast-container {
  width: auto !important;
}

.Toastify__toast {
  /* font-family: "Inter" !important; */
  box-shadow: none !important;
  background: transparent !important;
  padding: 0px !important;
  right: -5px;
}

.Toastify__toast-body {
  background: transparent;
  padding: 0;
}

/* Loader stylings */

.lds-ellipsis,
.lds-ellipsis div {
  box-sizing: border-box;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 10px;
  top: -33px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33.33333px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: currentColor;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
